In [1]:
import pandas as pd
import numpy as np

static_path = rf"C:\Users\anjal\Desktop\Fordham\Spring 2026\Interest Rate Derivatives\Homework\fixed_income\data\hw2_data\hw2_bond_info.xlsx"
pricing_path = rf"C:\Users\anjal\Desktop\Fordham\Spring 2026\Interest Rate Derivatives\Homework\fixed_income\data\hw2_data\hw2_bond_pricing_data.xlsx"

In [2]:
bond_info = pd.read_excel(static_path)
pricing_info = pd.read_excel(pricing_path, header=[0])

In [3]:
pricing_info.head()

,dates,91282CPJ Govt,91282CPR Govt,912810UP Govt,91282CPS Govt,91282CPT Govt,912810UQ Govt,91282CNT Govt,91282CPQ Govt,912810UM Govt,...,912810QH Govt,912828YD Govt,912810RX Govt,912810QW Govt,912810QZ Govt,912810RV Govt,912810QT Govt,912810QX Govt,912810QU Govt,91282CPW Govt
0,2025-09-02,0.0,0,0.0,0,0,0.0,99.89844,0,96.703125,...,96.898440,97.587895,73.585940,78.867190,79.312500,73.796875,81.101565,75.546880,80.656250,0
1,2025-09-03,0.0,0,0.0,0,0,0.0,100.25780,0,97.687505,...,97.507815,97.628910,74.257815,79.468755,79.929690,74.476565,81.687505,76.140630,81.273440,0
2,2025-09-04,0.0,0,0.0,0,0,0.0,100.71095,0,98.367190,...,98.015625,97.669925,74.757815,79.929690,80.414065,74.968755,82.164065,76.609375,81.757815,0
3,2025-09-05,0.0,0,0.0,0,0,0.0,101.40625,0,99.835940,...,99.078130,97.771485,75.875005,80.984375,81.484380,76.078125,83.210940,77.656255,82.812505,0
4,2025-09-06,0.0,0,0.0,0,0,0.0,0.00000,0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0

In [ ]:
df = pricing_info.copy()   # the fixed wide table 

df = df.rename(columns={"dates": "date"})
df["date"] = pd.to_datetime(df["date"], dayfirst=True, errors="coerce")

# wide -> long
pricing_long = df.melt(
    id_vars="date",
    var_name="id",        # like "91282CPJ Govt"
    value_name="price"
)

# clean
pricing_long["id"] = pricing_long["id"].astype(str).str.strip()
pricing_long["price"] = pd.to_numeric(pricing_long["price"], errors="coerce")

print("Unique IDs in pricing_long:", pricing_long["id"].nunique())
pricing_long.head()

Unique IDs in pricing_long: 351

        date             id  price
0 2025-09-02  91282CPJ Govt    0.0
1 2025-09-03  91282CPJ Govt    0.0
2 2025-09-04  91282CPJ Govt    0.0
3 2025-09-05  91282CPJ Govt    0.0
4 2025-09-06  91282CPJ Govt    0.0

In [5]:
pricing_long.to_csv(r"C:\Users\anjal\Desktop\Fordham\Spring 2026\Interest Rate Derivatives\Homework\fixed_income\data\hw2_data\hw2_bond_pricing_cleaned.csv", index=False)

In [1]:
import pandas as pd 
df = pd.read_csv(rf"C:\Users\anjal\Desktop\Fordham\Spring 2026\Interest Rate Derivatives\Homework\fixed_income\data\hw2_data\hw2_bond_pricing.csv")

In [2]:
df.groupby("date")["cusip"].nunique().sort_values().tail(20)

date
2025-11-04    338
2025-11-05    338
2025-11-06    338
2025-11-07    338
2025-11-10    339
2025-11-11    339
2025-11-12    340
2025-11-13    341
2025-11-14    341
2025-11-17    341
2025-11-18    341
2025-11-19    342
2025-11-20    342
2025-11-21    342
2025-11-24    343
2025-11-25    344
2025-11-26    345
2025-11-27    345
2025-11-28    345
2025-12-01    345
Name: cusip, dtype: int64